﻿<%@ Page Title="主页" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="Default.aspx.cs" Inherits="SqlHelperWeb._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        <script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
        <script type="text/javascript">
//            function a() {
//                //var datestr = (1306375223456);
//                var utc = tqrq("1306375223456");
//                alert(utc);
//            }
//            function tqrq(text) {
//                //提取数值
//                //alert(text);
//                var value = text.replace(/[^0-9]/ig, "");
//                //alert(value);
//                alert("开始转换日期" + parseInt(value));
//                var date = new Date(parseInt(value));
//                var year = date.getFullYear(); //年
//                var mon = date.getMonth(); //月
//                var day = date.getDate(); //日
//                var hour = date.getHours(); //时
//                var minute = date.getMinutes(); //分
//                var sec = date.getSeconds(); //秒*/
//                var millionsec = date.getMilliseconds(); //秒*/
//                alert("日期" + year + "/" + mon + "/" + day + " " + hour + ":" + minute + ":" + sec + "." + millionsec);
//                var utc = Date.UTC(year, mon, day, hour, minute, sec);
//                //alert(utc);
//                return utc;
//            }
//            $(function () {
//                //            $.post("http://211.149.176.182:8088/api/FileController/GetData?code=52094231426ACAD43BD817314BF064A5", { sn: "1" }, function (data) {
//                //                $("body").append(data);
//                //            }, "text/json");
//                //alert("hello");
//                $.post("http://192.168.168.212:80/数据文件上传接口/FileUploadAPI.ashx?name=gtjcy&pass=61333443&filetype=结果数据", function (data) {
//                    alert(data);
//                }, "html");
            //            });

            function a() {
                $.post("http://47.107.244.166:8087/Request?5345345=1", {
                    "sn": 1,
                    "file": {
                        "RecTime": "2019-05-20T08:41:10.5743981+08:00",
                        "FileLen": 1,
                        "Data": [
      [
        1.1,
        2.1
      ],
      [
        1.1,
        2.1
      ]
    ],
                        "MaxVal": 1.1,
                        "FileNo": 1
                    },
                    "Key": "sample string 2",
                    "MaxValue": [
    1.1,
    2.1
  ],
                    "FileNo": 3,
                    "Type": "sample string 4"
                }, function (data) { alert(data); }, "html");
            }
//                $.post("Handler.ashx", {
//                    "sn": 1,
//                    "file": {
//                        "RecTime": "2019-05-20T08:41:10.5743981+08:00",
//                        "FileLen": 1,
//                        "Data": [
//      [
//        1.1,
//        2.1
//      ],
//      [
//        1.1,
//        2.1
//      ]
//    ],
//                        "MaxVal": 1.1,
//                        "FileNo": 1
//                    },
//                    "Key": "sample string 2",
//                    "MaxValue": [
//    1.1,
//    2.1
//  ],
//                    "FileNo": 3,
//                    "Type": "sample string 4"
//                }, function (data) { alert(data); }, "html");
            //}
        </script>
        
    </h2>
    <%--<form action="http://192.168.168.212:80/数据文件上传接口/FileUploadAPI.ashx?name=gtjcy&pass=61333443&filetype=结果数据"  >
            <input type="text" name="name" />
            <input type="submit" value="提交" />
            </form>
    <p>
        若要了解关于 ASP.NET 的详细信息，请访问 <a href="http://www.asp.net/cn" title="ASP.NET 网站">www.asp.net/cn</a>。
    </p>
    <p>
        您还可以找到 <a href="http://go.microsoft.com/fwlink/?LinkID=152368"
            title="MSDN ASP.NET 文档">MSDN 上有关 ASP.NET 的文档</a>。--%>
            <form method="post" action="Handler.ashx"  ><!--http://211.149.176.182:8088/api/FileController/GetData-->
            密钥:<input name="code" value = "52094231426ACAD43BD817314BF064A5" />
            <input type="button" value="提交" onclick="a()" />

            </form>

            
    <%--</p>--%>
</asp:Content>
