﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ServerLoad.aspx.cs" Inherits="SqlHelperWeb.ServerLoad" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label runat="server" ID="label1" ></asp:Label>
    <asp:Button runat="server"  Text="加载" onclick="Unnamed2_Click" />
    </div>
    </form>
</body>
</html>
